@import "../src/reset.css" layer(reset);
@import "../src/kit.css";
@import "../src/variables.css";

body {
  font-family: "Open Sans", "system-ui", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  padding: 1rem;
  min-height: 100vh;
  background: white;
  background: var(--mdf-background-gradient);

  main {
    max-width: 900px;
    margin: 0 auto;

    .content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .colors {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .color {
        width: 10rem;
        height: 10rem;
        border-radius: 0.25rem;
      }
    }
  }

  footer {
    margin-top: 2rem;
    padding: 1rem;
  }
}