/* TITLES */
.mdf-title1,
.mdf-title2,
.mdf-title3,
.mdf-title4 {
  font-weight: 700;
}

.mdf-title1 {
  font-size: 3rem;
}

.mdf-title2 {
  font-size: 2.4rem;
}

.mdf-title3 {
  font-size: 1.7rem;
}

.mdf-title4 {
  font-size: 1.2rem;
}

/* TEXT */
.mdf-emphasis {
  font-weight: 700;
}

.mdf-italic {
  font-style: italic;
}

.mdf-highlighted {
  font-weight: 700;
  color: var(--mdf-color-text-brand-primary-default);

  &.mdf-highlighted-secondary {
    color: var(--mdf-color-text-brand-secondary-default);
  }
}

.mdf-muted {
  color: var(--mdf-color-text-muted);
}

.mdf-block {
  padding: 1rem;
  background-color: var(--mdf-color-background-muted);
  border-radius: 8px;
  border: 1px solid var(--mdf-color-border-default);
  box-shadow: 0px 1px 1px var(--mdf-color-transparent-300);

  &.mdf-block-brand-primary {
    background-color: var(--mdf-color-background-brand-primary);
    border-color: var(--mdf-color-border-brand-primary);
  }

  &.mdf-block-brand-secondary {
    background-color: var(--mdf-color-background-brand-secondary);
    border-color: var(--mdf-color-border-brand-secondary);
  }

  &.mdf-block-error {
    background-color: var(--mdf-color-background-error);
    border-color: var(--mdf-color-border-error);
  }

  &.mdf-block-success {
    background-color: var(--mdf-color-background-success);
    border-color: var(--mdf-color-border-success);
  }

  &.mdf-block-warning {
    background-color: var(--mdf-color-background-warning);
    border-color: var(--mdf-color-border-warning);
  }
}

/* BADGE */
.mdf-badge {
  display: inline-block;
  --background: var(--mdf-color-background-default);
  --background-dark: hsl(from var(--background) h s calc(l - 5));
  background: var(--background);
  background: linear-gradient(var(--background), var(--background-dark));

  padding: 5px 7px;
  border-radius: 8px;
  white-space: nowrap;
  box-shadow: var(--mdf-color-transparent-100) -1px -2px 0.5px inset;
}

/* LINK */
.mdf-link {
  display: inline;
  line-height: 1rem;
  padding: 1px 3px;
  border-radius: 5px;

  --color-visited: var(--mdf-color-brand-primary-muted);
  --hover-luminosity-reduction: 5;
  --text-luminosity-reduction: 85;

  color: var(--mdf-color-text-default);
  background-color: var(--mdf-color-background-muted);

  text-decoration: underline;
  text-underline-offset: 1.5px;
  text-decoration-thickness: 1.5px;

  &:visited {
    background-color: var(--mdf-color-background-brand-secondary);
    color: var(--mdf-color-text-brand-secondary);
  }

  &:hover {
    background-color: hsl(from var(--mdf-color-background-muted) h s calc(l - 5));

    &:visited {
      background-color: hsl(from var(--mdf-color-background-brand-secondary) h s calc(l - 5));
    }
  }

  &:focus-visible {
    outline: 2px solid var(--mdf-color-outline-default);
    outline-offset: 1px;
  }
}

/* BUTTON */
.mdf-button-container {
  border: 3px solid transparent;
  border-radius: 11px;
  background-clip: padding-box;
  position: relative;
  display: inline-block;

  --color: var(--mdf-color-background-muted);
  --color-dark: hsl(from var(--color) h s calc(l - 2));
  --color-border-light: hsl(from var(--color) h s calc(l + 3));
  --color-border-dark: hsl(from var(--color) h s calc(l - 5));

  --color-border-light-2: hsl(from var(--color) h calc(s - 10) l);
  --color-border-dark-2: hsl(from var(--color) calc(h) s calc(l - 20));

  &:hover {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -3px;
      border-radius: inherit;
      background: linear-gradient(var(--color-border-light-2), var(--color-border-dark-2));
    }
  }

  .mdf-button {
    color: inherit;
    background: linear-gradient(var(--color-border-light) 10%, var(--color-border-dark) 50%);
    cursor: pointer;
    line-height: 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0px 0px 2px var(--mdf-color-transparent-300);
    font-size: 1rem;
    padding: 0;
    border: none;
    transition: box-shadow 0.2s;

    .mdf-button-content {
      display: flex;
      align-items: center;
      margin: 5px;
      border-radius: 5px;
      padding: 5px 1rem;
      background-color: var(--color);
      transition: background-color 0.2s
    }

    &:active {
      box-shadow: 0px 0px 1px var(--mdf-color-transparent-200);

      .mdf-button-content {
        background-color: var(--color-dark);
      }
    }

    &:focus-visible {
      outline: 2px solid var(--mdf-color-outline-default);
      outline-offset: 3px;
    }
  }
}

/* FORM */
.mdf-select-field {
  cursor: pointer;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 1px solid var(--mdf-color-border-muted);
  border-radius: 8px;
  font-size: inherit;
  padding: 9px 12px;
  line-height: 1.5rem;
  background-color: var(--mdf-color-background-muted);
  width: 250px;
  box-shadow: 0px 1px 1px var(--mdf-color-transparent-300);
  font-family: inherit;
  color: inherit;

  &:hover,
  &:focus {
    background-color: var(--mdf-color-background-default);
  }

  &:focus {
    outline: 2px solid var(--mdf-color-outline-default);
    outline-offset: 3px;
  }
}

.mdf-input-label,
.mdf-select-label,
.mdf-textarea-label {
  margin-bottom: 2px;
}

.mdf-input-field[type="text"],
.mdf-input-field[type="search"],
.mdf-input-field[type="password"],
.mdf-textarea-field {
  border: 1px solid var(--mdf-color-border-muted);
  border-radius: 8px;
  font-size: inherit;
  padding: 9px 12px;
  line-height: 1.5rem;
  background-color: var(--mdf-color-background-muted);
  width: 250px;
  box-shadow: 0px 1px 1px var(--mdf-color-transparent-300);
  font-family: inherit;

  &:hover,
  &:focus {
    background-color: var(--mdf-color-background-default);
  }

  &:focus {
    outline: 2px solid var(--mdf-color-outline-default);
    outline-offset: 3px;
  }
}

.mdf-textarea-field {
  width: 320px;
  height: 150px;
}

.mdf-checkbox {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

.mdf-checkbox-field {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  width: 1.4em;
  height: 1.4em;
  border: 0.15em solid var(--mdf-color-border-brand-primary);
  background-color: var(--mdf-color-background-brand-primary);
  border-radius: 0.25rem;
  padding: 0;
  cursor: pointer;

  display: grid;
  place-content: center;

  &:hover,
  &:focus {
    background-color: var(--mdf-color-background-default);
  }
}

.mdf-checkbox-field::before {
  content: "";
  width: 20px;
  height: 20px;
  clip-path: path("M 6.9101 9.3579 C 6.4728 8.9207 5.7636 8.9207 5.3259 9.3579 S 4.8887 10.5044 5.3259 10.9421 L 7.4069 13.023 C 8.056 13.6722 9.108 13.6722 9.7571 13.023 L 10.1661 12.614 L 6.9101 9.3579 Z M 14.5261 6.6699 C 14.0888 6.2327 13.3796 6.2327 12.9419 6.6699 L 8.582 11.0299 L 10.1661 12.614 L 14.5261 8.2541 C 14.9633 7.8164 14.9633 7.1072 14.5261 6.6699 Z");
  transform: scale(0);
  transform-origin: bottom left;
  box-shadow: inset 1em 1em var(--mdf-color-text-brand-primary-default);
  background-color: CanvasText;
}

.mdf-checkbox-field:checked::before {
  transform: scale(1);
}

.mdf-checkbox-field:focus-visible {
  outline: 2px solid var(--mdf-color-outline-default);
  outline-offset: 3px;
}

.mdf-color {
  --border-radius: 8px;
  --background: var(--mdf-color-background-muted);
  --border: 1px solid var(--mdf-color-border-muted);

  display: flex;
  flex-direction: column;
  width: auto;

  .mdf-color-label {
    padding: 0.5rem;
    background-color: var(--background);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border: var(--border);
    box-shadow: 0px 1px 0px var(--mdf-color-transparent-300);
    border-top: none;
  }

  .mdf-color-field {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 100%;
    height: 4rem;
    position: relative;
    z-index: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
      border-radius: var(--border-radius);
    }

    &::-webkit-color-swatch {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: var(--border);
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }
  }
}

/* TABLES */
.mdf-table {
  border-radius: 8px;
  border-style: hidden;
  box-shadow: 0 1px 2px var(--mdf-color-transparent-200);

  .mdf-th:first-child {
    border-top-left-radius: 8px;
  }

  .mdf-th:last-child {
    border-top-right-radius: 8px;
  }

  tbody>tr:last-child>td:first-child {
    border-bottom-left-radius: 8px;
  }

  tbody>tr:last-child>td:last-child {
    border-bottom-right-radius: 8px;
  }

  .mdf-td,
  .mdf-th {
    padding: 0.5rem;
    border: 1px solid var(--mdf-color-border-muted);
  }

  .mdf-th {
    font-weight: 600;
  }

  .mdf-th,
  :nth-child(even)>.mdf-td {
    background-color: var(--mdf-color-background-muted);
    text-align: start;
  }
}

/* CODE */
.mdf-code-inline {
  line-height: 1rem;
  padding: 1px 3px;
  border-radius: 5px;
  background-color: var(--mdf-color-background-muted);
  font-weight: 600;
  font-family: monospace;
}

.mdf-code-block {
  line-height: 1rem;
  padding: 10px 1rem;
  border-radius: 8px;
  background-color: var(--mdf-color-background-brand-primary);
  font-family: monospace;
  margin: 0;
  box-shadow: 0px 1px 1px var(--mdf-color-transparent-300);
}

/* QUOTE */
.mdf-quote {
  padding: 1rem 2rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--mdf-color-background-brand-secondary);
  box-shadow: 0px 1px 1px var(--mdf-color-transparent-300);
  border-left: 5px solid var(--mdf-color-border-brand-secondary);

  .mdf-quote-source {
    margin-top: 1rem;
    font-style: italic;
    color: var(--mdf-color-text-muted);
  }
}

/* UTILITIES */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}